<div class="password-field-wrapper layout-row align-start-center gap-0-5">
  <input
    handyInput
    label="Password"
    class="password-input"
    [type]="passwordVisible ? 'text' : 'password'"
    [formControl]="control"
    [errorCondition]="control.errors && control.touched"
  />
  <button
    mat-icon-button
    type="button"
    class="handy-icon-button-tiny visibility-button"
    (click)="togglePasswordVisibility()"
  >
    <fa-icon
      class="handy-icon-tiny"
      [icon]="passwordVisible ? 'eye' : 'eye-slash'"
    ></fa-icon>
  </button>
</div>
