.message-span {
  display: inline-block;
  margin: 0.5em 0.5em 0 0;
  padding: 0.3em;
  color: var(--warn-color);
  background-color: var(--dark-bg-lighter-5);
  font-size: 14px;
}

.error {
  color: var(--warn-color);
}

.success {
  color: var(--primary-color);
}

.warning {
  color: #f5bf43;
}
