player-connection-mode=Listen
player-connection-guid=3822366297
player-connection-debug=0
player-connection-project-name=object-net-tests
player-connection-ip=192.168.1.4
player-connection-ip=172.24.80.1
player-connection-ip=172.28.192.1
gfx-enable-gfx-jobs=1
gfx-enable-native-gfx-jobs=1
gfx-threading-mode=4
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
build-guid=d7cfee89a7f84b3e86746818ebe4545e
