<tr>
  <td
    style="
    background-color:#ffffff;
    color:#666666;
    text-align:center;
    padding:16px 16px 20px 16px;
    border-top:1px solid #eeeeee;
    font-size:12px;
    line-height:18px;
  "
  >
    <div style="margin-bottom:4px;">
      &copy; {{ year }} {{ company }}. All rights reserved.
    </div>
    <div>
      Environment:
      <span style="color:#af82f7;">{{ environment }}</span>
    </div>
  </td>
</tr>
